<% grouped_spots.each do |date, spots| %>
  <div class="timespan" id="<%= display_day(date) %>">
    <div class="span">
      <h3><%=  local_relative_time(date, 'weekday') %></h3>
    </div>
    <%= render partial: 'spots/spot', collection: spots %>
  </div>
<% end %>
