<% @description = capture do %>
  Find Team permanent hangouts
<% end %>
<div class="hangouts-container">
  <% @hangouts.each do |hangout| %>
    <div class="card full-width">
      <div class="card-description">
        <h5>
          <%= hangout.user_name.capitalize %>
        </h5>
        <%= link_to('Join', hangout.url, target: '_blank') %>
      </div>
    </div>
  <% end %>
</div>
