/*
	Module: Cards
*/

.card {
	padding-bottom: 0;
	margin-bottom: 0;
	float: left;
	position: relative;
	width: 300px;
	color: #fff;
	&.full-width{
		width: 100% !important
	}
  .card-header {
    padding: 5px 0;
    border-bottom:1px solid #f2f2f2;
    h5 {
      font-size: 14px;
      margin: 0;
      letter-spacing: -0.006em;
      margin-top: -3px;
    }
    h6 {
    	font-size: 12px;
      margin: 0;
      opacity: .45;
      font-family: arial;
      opacity: .45;
    }
  }
  .card-description {
    padding:5px 0;
    font-size: 24px;
		white-space: initial;
    word-wrap: break-word;
    margin: 0;
    p {
      margin-bottom: 4px;
      margin-top: 5px;
    }
    a {
    	color: #f2f2f2;
    	text-decoration: none;
    	font-weight: bold;
    }
    .via {
      opacity: .45;
      display: block;
      font-size: 12px;
      font-family: arial;
      margin-top: 5px;
    }
  }
	@media (max-width: 580px) {
		.card-description {
			font-size: 22px;
		}
	}
  .card-content{
    position: relative;
  }
}
