/*
	Module: Cards
*/

.card {
	padding-bottom: 0;
	margin-bottom: 0;
	float: left;
	position: relative;
	width: 300px;
	color: #fff;
	.votes {
		a {
			color: #fff;
			text-decoration: none;
			.vote {
				display: table;
				i {
					vertical-align: middle;
					display: table-cell;
					padding-right: 5px;
				}
				.count {
					  display: table-cell;
				}
			}
		}
	}
	&.full-width{
		width: 100% !important
	}
  .card-header {
    padding: 5px 0;
    border-bottom:1px solid #f2f2f2;
    h5 {
      font-size: 14px;
      margin: 0;
      letter-spacing: -0.006em;
      margin-top: -3px;
			display: inline-block;
    }
    h6 {
    	font-size: 12px;
      margin: 0;
      opacity: .45;
      font-family: arial;
      opacity: .45;
    }
    .via {
      opacity: .45;
      display: block;
      font-size: 12px;
			float: right;
      font-family: arial;
      margin-top: 5px;
    }
  }
  .card-description {
    padding:5px 0;
    font-size: 24px;
		white-space: initial;
    word-wrap: break-word;
    margin: 0;
		font-weight: 500;
    a {
    	color: #f2f2f2;
    	text-decoration: none;
    	font-weight: 600;
			color: #f57d2d;
    }
  }
	@media (max-width: 580px) {
		.card-description {
			font-size: 22px;
		}
	}
  .card-content{
    position: relative;
  }
}
