/*
  Module: Header
*/

.header{
  position: relative;
  display: block;
  height: 60px;
  width: 100%;
  padding: 20px 0;
  z-index: 800;
  a {
    color: #fff;
  }
  .logo {
    width: 30%;
    float: left;
  }
  .brand {
    max-width: 120px;
    width: 100px;
  }

  .brand-description {
    max-width: 50%;
    float: left;
    padding-top: 10px;
    h3 {
      color: #fff;
      font-size: 13px;
      text-transform: uppercase;
    }
  }
  .filters {
    float: right;
    padding-top: 10px;
    ul {
      li {
        display: inline-block;
        margin-right: 10px;
        a {
            text-decoration: none;
            &.active {
              font-weight: bold;
              border-bottom: 1px solid #fff;
              padding-bottom: 3px;
            }
        }
      }
    }
  }
  @media (max-width: 580px) {
    .brand-description {
      max-width: 100%;
      float: none;
      padding-top: 10px;
      clear: both;
    }
    .filters {
      float: none;
      margin-top: 20px;
      clear: both;
      display: block;
      text-align: center;
    }
  }
}
