<%= link_to(spot_votes_path(spot), remote: true, method: :post) do %>
  <span class="vote">
    <i class="icon-smiling36"></i>
    <span class="count">
      <%= spot.votes_count %>
    </span>
  </span>
<% end %>
