<%= request.ip %>
<div id="spot-votes-<%= spot.id %>">
  <% if spot.voted?(request.ip) %>
    <%= render partial: 'votes/voted', locals: { spot: spot } %>
  <% else %>
    <%= render partial: 'votes/vote', locals: { spot: spot } %>
  <% end %>
</div>
